<header align="center" data-title="{{ title }}">
  <img src="assets/rainbow-title.svg" />
  <p>A list of awesome Web Dev, tools, frameworks, and extensions to make life easier!</p>
</header>

---

> Last Updated: {{ date }}

## Table of Contents

{{#each lists}}
- [{{this.title}}]({{this.githubUrl}})
{{/each}}
